<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Hearthstone</title>
  
  
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>

      <link rel="stylesheet" href="./style.css">

  
</head>

<body>

  
  
  

  <div ng-app="hearthApp" ng-controller="hearthCtrl">
    
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded navbg">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <a class="navbar-brand" href="#"><input class="form-control mr-sm-2 text-center  hidden-lg-up" type="text" placeholder="Search" ng-model="search"></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item neutral" ng-click="pclass('Neutral')"><div class="hidden-xl-up hidden-md-down"><img src="http://metastats.net/images/class/neutral.png" height=50 width=50 class="iconimg"></div><div class="txtDiv"><a href="#" class="nav-link">Neutral</a></div></li>
      <li class="nav-item druid" ng-click="pclass('Druid')"><div class="hidden-xl-up hidden-md-down"><img src="https://gamepedia.cursecdn.com/hearthstone_gamepedia/1/13/Icon_Druid_48.png" height=50 width=50 class="iconimg"></div><div class="txtDiv"><a href="#" class="nav-link">Druid</a></div></li>
      <li class="nav-item hunter" ng-click="pclass('Hunter')"><div class="hidden-xl-up hidden-md-down"><img src="https://gamepedia.cursecdn.com/hearthstone_gamepedia/8/82/Icon_Hunter_48.png" height=50 width=50 class="iconimg"></div><div class="txtDiv"><a href="#" class="nav-link">Hunter</a></div></li>
      <li class="nav-item mage" ng-click="pclass('Mage')"><div class="hidden-xl-up hidden-md-down"><img src="https://gamepedia.cursecdn.com/hearthstone_gamepedia/a/ad/Icon_Mage_48.png" height=50 width=50 class="iconimg"></div><div class="txtDiv"><a href="#" class="nav-link">Mage</a></div></li>
      <li class="nav-item rogue" ng-click="pclass('Rogue')"><div class="hidden-xl-up hidden-md-down"><img src="https://gamepedia.cursecdn.com/hearthstone_gamepedia/1/13/Icon_Rogue_48.png" height=50 width=50 class="iconimg"></div><div class="txtDiv"><a href="#" class="nav-link">Rogue</a></div></li>
      <li class="nav-item paladin" ng-click="pclass('Paladin')"><div class="hidden-xl-up hidden-md-down"><img src="https://gamepedia.cursecdn.com/hearthstone_gamepedia/d/d3/Icon_Paladin_48.png" height=50 width=50 class="iconimg"></div><div class="txtDiv"><a href="#" class="nav-link">Paladin</a></div></li>
      <li class="nav-item priest" ng-click="pclass('Priest')"><div class="hidden-xl-up hidden-md-down"><img src="https://gamepedia.cursecdn.com/hearthstone_gamepedia/3/30/Icon_Priest_48.png" height=50 width=50 class="iconimg"></div><div class="txtDiv"><a href="#" class="nav-link">Priest</a></div></li>
      <li class="nav-item shaman" ng-click="pclass('Shaman')"><div class="hidden-xl-up hidden-md-down"><img src="https://gamepedia.cursecdn.com/hearthstone_gamepedia/d/da/Icon_Shaman_48.png" height=50 width=50 class="iconimg"></div><div class="txtDiv"><a href="#" class="nav-link">Shaman</a></div></li>
      <li class="nav-item warrior" ng-click="pclass('Warrior')"><div class="hidden-xl-up hidden-md-down"><img src="https://gamepedia.cursecdn.com/hearthstone_gamepedia/e/e8/Icon_Warrior_48.png" height=50 width=50 class="iconimg"></div><div class="txtDiv"><a href="#" class="nav-link">Warrior</a></div></li>
      <li class="nav-item warlock" ng-click="pclass('Warlock')"><div class="hidden-xl-up hidden-md-down"><img src="https://gamepedia.cursecdn.com/hearthstone_gamepedia/c/c3/Icon_Warlock_48.png" height=50 width=50 class="iconimg"></div><div class="txtDiv"><a href="#" class="nav-link">Warlock</a></div></li>      
      <li class="nav-item"><input class="form-control mr-sm-2 text-center  hidden-md-down" type="text" placeholder="Search" ng-model="search"></li>
      
    
      
    </ul>
  </form>
  </div>
</nav>
    
 
   
    
      <div class="container content">        
        <h1>{{cardClass}}</h1>
        
   
    <div class="row">
  <div ng-repeat="i in info | filter:{ cardClass: cardClass } | filter:{ name: search } | filter: { type: '!Hero' }" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-centered">
  
        <div class="singleContainer" data-toggle="modal" data-target=".{{i.id}}"><div class="imgbox" style="background-image: url(https://art.hearthstonejson.com/v1/render/latest/enUS/512x/{{i.id}}.png)"></div>
          <div class="txtbox"><h4>{{i.name}}</h4></div>
          </div>
    
    <div class="modal fade {{i.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"><div class="row">
      <div class="col-lg-6 cardImg hidden-md-down"><br><Br><img src="https://art.hearthstonejson.com/v1/render/latest/enUS/256x/{{i.id}}.png"></div>
      
      <div class="col-lg-6 col-md-12 cardTitle"><h3>{{i.name}}</h3>
        TYPE: {{i.type}}<Br>
        RARITY: {{i.rarity}}<br>
        TEXT: <span ng-bind-html="i.text"></span>
       </div>
      
      </div>
      
      
      
    </div>
  </div>
</div>
    

  
    
    </div>
      
        </div>


        

  
   
    
</div>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.1/angular-sanitize.min.js'></script>

  

    <script  src="./script.js"></script>




</body>

</html>
