@media (max-width: 991px) {
  
  .cardTitle{
  
   padding-left: 30px;
   padding-bottom: 10px;
  }
  
 .txtDiv{
  display: inline;
}
  
   .form-control{
     margin-top: 0px !important; 
      width: 75%;
  }

  
  .navbar{
  background-color: black !important;
  box-shadow: inset 0px 0px 0px 0px !important;
   

}
  .navbar-nav{
    text-align: left !important;

        
  }
  .navbar-brand{
    color: white !important;
    text-align: center;
    line-height:50px !important;

  }
  
  .navbar-toggler{
    color: #fff !important;
    line-height:50px !important;

    
  }
  
  .nav-item{
    margin-left: 15px;
    line-height: 20px;
  }
  
  .warlock:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.shaman:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.warrior:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.priest:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.paladin:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.rogue:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.mage:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.hunter:hover{
 box-shadow: inset 0px 0px 0px 0px !important;
}

.druid:hover{
 box-shadow: inset 0px 0px 0px 0px !important;
}

.neutral:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}


  
}


@media (max-width: 1200px) and (min-width: 992px) { 
  
  .form-control{
      margin-top: 10px !important;
  }
  
  .iconimg:hover{
    cursor: pointer;
  }
  
  .iconimg{
   
    margin-top: 0px;
    
  }

  .txtDiv{
  display: none;
}
  
   .navbar{
    
  background-color: black;
 
  }
  
  
  
  .warlock:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.shaman:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.warrior:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.priest:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.paladin:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.rogue:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.mage:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

.hunter:hover{
 box-shadow: inset 0px 0px 0px 0px !important;
}

.druid:hover{
 box-shadow: inset 0px 0px 0px 0px !important;
}

.neutral:hover{
  box-shadow: inset 0px 0px 0px 0px !important;
}

  
}

@media (min-width: 1200px) {
 

  
  .txt{
  display: inline;
}
  
  .navbar{
  padding:0;
  background-color: black;
  box-shadow: inset 0px 6px 0px #21262b;

}


.warlock:hover{
  background-color: #000;
  box-shadow: inset 0px 6px 0px #9482C9 !important;
}

.shaman:hover{
  background-color: #000;
  box-shadow: inset 0px 6px 0px #0070DE !important;
}

.warrior:hover{
  background-color: #000;
  box-shadow: inset 0px 6px 0px #C79C6E !important;
}

.priest:hover{
  background-color: #000;
  box-shadow: inset 0px 6px 0px #FFFFFF !important;
}

.paladin:hover{
  background-color: #000;
  box-shadow: inset 0px 6px 0px #F58CBA !important;
}

.rogue:hover{
  background-color: #000;
  box-shadow: inset 0px 6px 0px #FFF569 !important;
}

.mage:hover{
  background-color: #000;
  box-shadow: inset 0px 6px 0px #69CCF0 !important;
}

.hunter:hover{
  background-color: #000;
  box-shadow: inset 0px 6px 0px #ABD473 !important;
}

.druid:hover{
  background-color: #000;
  box-shadow: inset 0px 6px 0px #FF7D0A !important;
}

.neutral:hover{
  background-color: #000;
  box-shadow: inset 0px 6px 0px #808080 !important;
  
}
  
  
}


h2{
  text-align: center;
  color: #fff;
}



  .content{;
    
    background-color: rgba(0, 0, 0, 0.75);
    border-style: solid;
    border-color:  #000;
    color: #888;
  }


body{
  margin-top: 100px;
  background-image: url('https://cdn0.vox-cdn.com/thumbor/NLrAf0G3GnuUOKPz8QYsH3zJo0g=/24x0:1940x1078/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/49048373/hearthstone_old_gods_key_art.0.0.jpg');
  background-size: cover;
  background-attachment: fixed;
  

}  

  
.nav-item{
 padding: 5px;
}

.navbar ul li a {
color: #fff !important;
font-size: 20px;}



.navbar-nav {
    margin:0 auto;
    text-align: center;
    line-height:50px;
}

.nav-item:hover { background-color: dark-grey;
  
}


.form-control{
  padding: 5px;
  margin-top: 20px;
  display: inline;
}

h1{
  color: #fff;
  text-align: center;
}

.singleContainer{

  width: 250px;
  margin: 0 auto;
  margin-bottom: 15px;
  
}

.singleContainer:hover .imgbox{
  -webkit-filter: grayscale(0); /* Old WebKit */
  filter: grayscale(0)

}

.singleContainer:hover{
  cursor: pointer;
}

.txtbox{
  color: #fff;
  text-align: center;
}


.imgbox{
  height: 100px;
  width: 250px;
  background-position: 50% 35%;
  margin: 0 auto;
  -webkit-filter: grayscale(1); /* Old WebKit */
  filter: grayscale(1);
  border: 3px solid #000;
}

body.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}

.modal{
  top: 75px;
}

.cardImg{
  margin-top: -35px; 
  text-align: center;
}

.cardTitle{
  color: #000;
  margin-top: 20px;
  padding-right: 20px;
}


  
  
  
  
  
dust
name
rarity
text
type